<div class="event-list-container">
  <h2>Events</h2>
  <a routerLink="/events/create" class="add-btn">+ Add Event</a>

  <select id="clubSelect" [(ngModel)]="selectedClubId" (ngModelChange)="onClubChange($event)">
    <option value="" disabled selected>Select a club</option>
    <option *ngFor="let club of clubs" [value]="club.id">
        {{ club.name }}
    </option>
  </select>
  <ul class="event-list">
    <li *ngFor="let event of events" class="event-item">
      <div class="event-header">
        <h3>{{ event.title }}</h3>
        <span class="event-date">{{ event.scheduledAt | date: 'medium' }}</span>
      </div>
      <p class="event-description">{{ event.description }}</p>
    </li>
  </ul>
</div>
